@using JamRunaway.BL
@model String
@{
	ViewBag.Title= "Jam Runaway";
}

<div id="map-canvas"></div>


@section scripts
{
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="~/Scripts/geo/GeoConverter.js"></script>
<script src="~/Scripts/geo/WayPoint.js"></script>
<script src="~/Scripts/geo/GpsTrack.js"></script>
<script src="~/Scripts/geo/TrackAnalyzer.js"></script>

<script type="text/javascript">
	var gpsTracksJson = @Html.Raw(Model);

	TrackAnalyzer.init(gpsTracksJson, "map-canvas");

</script>
}
